<ion-view view-title="Sign In" hide-back-button="false">
 <ion-content>
  <div class="card">
   <div class="item item-body">
     <img class="full-image" src="img/logo.png">
   </div>

   <label class="item item-input">
    <span class="input-label"><font color="#f7751f"> Username</font></span>
    <input type="text" placeholder="username@email.com">

  </label>
   <label class="item item-input">
    <span class="input-label"><font color="#f7751f">Password</font></span>
    <input type="password" placeholder="password">
   </label>

  <div class="col text-center">
   <ion-nav-button side="secondary">
     <a class="button button-stable button-outline" href="#/dashboard">Sign In</a>
   </ion-nav-button>
   </div>
 </div>

 <div class="col text-center">
  <ion-nav-button side="secondary">
   <a class="button button-clear button-stable" href="#/forgotpwd">
    <font size="2" color="#f7751f"> <u> Forgot Password?</u></font>
   </a>
 </div>

</ion-content>
</ion-view>
