<ion-view view-title="Curry Point" hide-back-button="true">
  <ion-content class="scroll-bg" padding="false" scroll="false"  has-bouncing="false">
    <div id="form">
      <div class="card" algin="center" id="locateService">

      <div class="item item-text-wrap">
           <h2><font color="#ef6c00"> Welcome to 2h. Ordering Curry Remagined. </font></h2>
           <h2><font color="#fff"> Blank </font></h2>
           <center><h3> Order fresh and delicious curries online.</h3></center>
           <center><h3> Free same day delivery to your door. </h3></center>
      </div>

      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter Pincode for Service">
          </label>
        </div>
      </div>

      <div class="col  text-center">
         <ion-nav-button>
           <a class="button button-block button-light" href="#/checkavailability"><font color="#ef6c00">Check Availability</font></a>
         </ion-nav-button>
      </div>


      <div class="col  text-center">
         <ion-nav-button>
           <a class="button button-block button-light" href="#/login"><font color="#ef6c00">Sign In</font></a>
         </ion-nav-button>
      </div>

      <div class="col  text-center">
        <ion-nav-button>
          <a class="button button-block button-light" href="#/signup"><font color="#ef6c00">Sign Up</font></a>
        </ion-nav-button>
      </div>

      <div class="col text-center">
       <ion-nav-button side="secondary">
         <a href="#/fblogin" class="item item-icon-center">
             <i class="icon ion-social-facebook smaller"></i>
              <font size="2" color="#ef6c00"> Sign in with Facebook</font>
         </a>
       </ion-nav-button>
      </div>

      <div class="col text-center">
        <a class="button button-clear button-stable" href="#/terms">
         <font size="2" color="#ef6c00">See our <u>Terms and Condition. </u></font>
        </a>
      </div>


    </div>
  </div>

</ion-content>
</ion-view>
