<ion-view view-title="Report A Fact">
	<ion-content>
	  <div class="list list-inset">
  		 <div class="item item-body">
  		   <img class="full-image" src="img/logo.png">
   		 </div>
		 <p style="text-align:center;color:grey;"valign="middle">Would you like to sign out?</p>
                 <div class="col text-center">
   			<ion-nav-button side="secondary">
     			<a class="button button-stable button-outline" href="#/home">Sign Out</a>
   			</ion-nav-button>
   		 </div>


	</ion-content>
</ion-view>
